body {
  text-align: center;
  background-color: black;
  font-family: Verdana;
}

/* Header Section */
h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: White;
  text-align: center;
}

/* Download Link */
p.dloadlink, a {
  color: Aquamarine;
  font-size: 16px;
}

/* Section 2 */
h2 {
  font-weight: 300;
  font-size: 42px;
  color: White;
}

p {
  font-size: 21px;
  color: Gray;
}

/* Copyright */
p.copyright {
  color: Gray;
  text-align: right;
}
